@model IEnumerable<Webshop.DAL.Customer>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name (@item.Email)
            </td>
        </tr>
    }

</table>
